* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
}

section {
  margin-top: 60px;
  display: flex;
  align-items: center;
  margin: 100px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contato {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 5px;
  background-color: #252b42;
  justify-content: space-between;
}

.contato address {
  display: flex;
  align-items: left;
  gap: 10px;
}

.contato a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

.contato address p {
  display: inline-flex;
  align-items: center;
}

.contato p {
  font-weight: bold;
  color: white;
}

.contato > p {
  text-align: center;
}

.contato p:last-child {
  display: flex; /* Alinhei horizontalmente as imagens em relação na tag <p> */
}

.contato p:last-child img {
  margin-left: 5px; /* Adicionei espaço entre imagens */
}

.contato img {
  width: 25px;
  height: 25px;
}

.menu-topo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-topo ul {
  list-style-type: none;
  display: flex;
}

.menu-topo a {
  color: inherit;
  color: #737373;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.menu-topo a:hover {
  color: black;
}

.header-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-btn img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header-btn span {
  font-weight: bold;
  color: #23a6f0;
}

.separator {
  margin: 0 5px;
}

.header-btn:hover {
  opacity: 0.8;
}

.header-btn:focus {
  outline: 2px solid #0056b3;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-icons {
  display: flex;
  gap: 25px;
}

.header-icons img {
  width: 24px;
  height: 24px;
}

.header-container {
  padding: 35px 30px 0px 30px;
}

.dropdown-arrow {
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.menu-topo ul li a:hover .dropdown-arrow {
  transform: rotate(90deg);
}

.hero {
  display: flex;
  align-items: center;
}

.hero-button {
  background-color: #23a6f0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  border: none;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.hero button:hover {
  background-color: rgb(36, 192, 243);
  color: rgb(230, 230, 230);
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.container .hero {
  background: linear-gradient(90deg, #96e9fb 0%, #abecd6 100%);
  border-radius: 15px;
}

.hero-text {
  padding: 80px;
}

.hero-text h5{
  color: #2A7CC7;
}

.hero-text h5, h1 {
  text-transform: uppercase;
}

.hero h5, h4, h1, .hero-button{
  margin-top: 25px;
}

.hero h1 {
  font-size: 50px;
}

.hero h4 {
  color: #737373;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  max-width: 65%; 
}


clients {
  
}
.clients {
  display: flex;
  align-items: center;
}

.clients img {
  width: 160px;
}

.clients img:nth-of-type(6):hover {
  cursor: pointer;
  background-color: orangered;
  border-radius: 50px;

}
.clients img:nth-of-type(5):hover {
  cursor: pointer;
  background-color: rgb(5, 5, 137);
  border-radius: 50px;

}
.clients img:nth-of-type(4):hover {
  cursor: pointer;
  background-color: rgb(123, 46, 217);
  border-radius: 50px;
}
.clients img:nth-of-type(3):hover {
  cursor: pointer;
  background-color: greenyellow;
  border-radius: 50px;
}
.clients img:nth-of-type(2):hover {
  cursor: pointer;
  background-color: rgb(187, 86, 205);
  border-radius: 50px;
}
.clients img:nth-of-type(1):hover {
  cursor: pointer;
  background-color: rgb(79, 79, 255);
  border-radius: 50px;
}

.shop-cards {
  margin-top: 60px;
}

.shop-cards-elements {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
}

.left-model, .right-model {
  display: flex;
  flex-direction: column;
}

.image-overlay {
  position: relative; 
}

.shop-cards-elements img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.image-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2D8BC0BF; 
  pointer-events: none; 
  width: 68%;
  height: 40%;
}


.right-model .image-overlay:nth-of-type(1)::after {
  height: 65%; 
}

.right-model .image-overlay:nth-of-type(2)::after {
  height: 60%; 
}

.right-model {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.image-overlay h4 {
  position: absolute;
  top: 105px;  
  left: 40px;
  font-size: 24px;  
  color: white;  
  z-index: 1; 
  font-weight: normal;
  
}

.left-model .image-overlay h3 {
  position: absolute;
  top: 400px;  
  left: 40px; 
  font-size: 24px; 
  color: white;  
  z-index: 1;  
  font-weight: bolder;  
  margin: 0;

}

.left-model .image-overlay button {
  position: absolute;
  padding: 20px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  top: 500px;  
  left: 40px; 
  z-index: 1;  
  font-weight: bolder;  
  margin: 0;
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.right-model .image-overlay button {
  position: absolute;
  padding: 20px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  top: 180px;  
  left: 40px; 
  z-index: 1;  
  font-weight: bolder;  
  margin: 0;
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.break-line {
  display: block; 
}


.shop-cards button:hover {
  background-color: rgb(36, 192, 243);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}









