* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* main {

} */

.contato {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 5px;
  background-color: #252b42;
  justify-content: space-between;
}

.contato address {
  display: flex;
  align-items: left;
  gap: 10px;
}

.contato a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

.contato address p {
  display: inline-flex;
  align-items: center;
}

.contato p {
  font-weight: bold;
  color: white;
}

.contato > p {
  text-align: center;
}

.contato p:last-child {
  display: flex; /*Alinhando horizontalmente as imagens em relação ao <p>*/
}

.contato p:last-child img {
  margin-left: 5px; /*Adicionando espaço entre imagens*/
}
.contato img {
  width: 25px;
  height: 25px;
}
